#infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: none;
    padding: 50px;
    margin: 20px;
    background: black;
    border-radius: 25px;
}

#projectbox-dupetable {
    width: 98%;
    height: 100px;
    background: darkslategrey;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: adaptive;
    background-position: center;
    background-image: url("https://jacob9086.xyz/projects/assets/thumbnails/dupetable.jpeg");
}

#projectbox-minerserver {
    width: 98%;
    height: 100px;
    background: darkslategrey;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: adaptive;
    background-position: center;
    background-image: url("https://jacob9086.xyz/projects/assets/thumbnails/minerserver.png");
}

#projectbox-bettertickets {
    width: 98%;
    height: 100px;
    background: darkslategrey;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: adaptive;
    background-position: center;
    background-image: url("https://jacob9086.xyz/projects/assets/thumbnails/bettertickets.png");
}

.fa {
	color: white;
	margin: 5px 2.5px;
	font-size: 2.5em !important;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

button {
    background-color: #2a3344;
    width: 100px;
    height: 35px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 8px;
}

button:hover {
    background-color: #39465e;
}

h1, h2, p {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url("https://jacob9086.xyz/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}